//color

$bg: #001620;
$bg-1: rgba(43, 43, 43, 0.8);
$bg-4: rgba(47, 47, 47, 0.8);
$bg-2: rgba(12, 17, 23, 0.9);
$bg-3: rgba(12, 17, 23, 0.17);
$border: #565656;

$q1: #b70000;
$q2: #8f9652;
$q3: #50ce7a;
$q4: #ff9f00;